@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply z-20;
  }

  ::selection {
    @apply bg-blue-400 text-gray-50 dark:bg-gray-50 dark:text-blue-400;
  }

  html {
    @apply min-w-[360px];
    scroll-behavior: smooth;
  }

  #__next {
    @apply bg-gray-50 flex flex-col relative min-h-screen;
    transition: color 0.25s ease-in-out;
  }

  #__next::before {
    content: '';
    @apply bg-gray-900 fixed z-0 h-[750vh] w-[750vh] rounded-[50%];
    transform: translate(-100%, -100%);
    transition: transform 0.5s ease-in-out;
  }

  .dark #__next::before {
    transform: translate(-50%, -50%);
  }

  code[class*='language-'],
  pre[class*='language-'] {
    @apply text-gray-800 dark:text-gray-50;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Remove Safari input shadow on mobile */
  input[type='text'],
  input[type='email'] {
    @apply appearance-none;
  }

  table {
    @apply block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@layer components {
  .logo {
    @apply inline-block relative;
    word-spacing: 32px;
  }
  .logo svg {
    @apply absolute inset-0 m-auto;
    width: 32px;
    height: 32px;
    animation: rotate 3000ms infinite ease-in-out;
  }

  .logo .circle {
    stroke-width: 32px;
    fill: none;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  @variants hover,group-hover {
    .play-pause {
      animation-play-state: paused;
    }
  }
  @variants dark {
    .drop-shadow-white {
      filter: drop-shadow(2px 2px 3px white);
    }

    .drop-shadow-black {
      filter: drop-shadow(2px 4px 6px black);
    }

    .stroke-black {
      stroke: rgb(0, 0, 0, 0.75);
    }
    .stroke-white {
      stroke: rgb(255, 255, 255, 0.75);
    }
    .fill-black {
      fill: rgb(0, 0, 0, 0.75);
    }
    .fill-white {
      fill: rgb(255, 255, 255, 0.75);
    }
  }
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}
